*{
    text-decoration: none;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: fit-content;
}

.body-container{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    height: 100%;
}

.main-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-content-top{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
}

.main-content-positioner-top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: 50%;
    height: 100%;
}

.top-left-userinfo{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 95%;
    border-radius: 0.5rem;
}

.top-left-item-userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.top-left-item-text-userinfo{
    display: flex;
    flex-direction: row; 
    font-size: 1.2rem;
    font-weight: 500;
    color: #343a40;
}

#first-top-left-item-userinfo{
    margin-top: 0.8rem;
}

.main-content-top-right{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.main-content-positioner-top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
}

.top-right-totals{
    min-width: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 95%;
    border-radius: 0.5rem;
}

.top-right-totals-title{
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(239, 239, 239);
    
}

.top-right-item-totals{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.top-right-item-text-totals{
    display: flex;
    flex-direction: row; 
    font-size: 1rem;
    font-weight: 500;
    color: #343a40;
}

#first-top-right-item-totals{
    margin-top: 0.8rem;
}

.top-right-notifications{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 95%;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.top-right-notifications-title{
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(239, 239, 239);
    
}

.main-content-bottom{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;

}

.main-content-bottom-positioner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bottom-temporary{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97.5%;
    height: 95%;
    border-radius: 0.5rem;
}