.main-content{
background-color: white;
}
.equipment-content{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.equipment-content iframe{
    height: 100%;
    width: 100%;
    border-style: none none none solid;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}
