.content-position-top{
    height: 30%;
    display: flex;
}

.content-position-bottom{
    height: 70%;
}

.center-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0%;
    width: 100%;
}

.center-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#current-tab{
    background-color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}

#first-tab  {
    border-color: rgb(239, 239, 239);
     
}

.equipment-your {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.your-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-style: none solid solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.group-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-style: none solid solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.items-controls{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    justify-content: start;
}

.group-items-total{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    justify-content: center;
    border-style: none none none solid;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.group-page-controls{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
    justify-content: start;
}

.total-group-div-content{
    display:flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
    height: fit-content;
    justify-content: center;
}

.control-current-page-title-group{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    justify-content: center;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.page-controls-group{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-controls-group-content{
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.current-group-page{
    text-decoration: underline;
}

.control-group-arrow{
    width: 6%;
    height: 100%;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.control-current-group-page{
    display:flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
    height: fit-content;
    justify-content: center;
}

.title-bar{
    border-style: none none dotted none;
    border-width: 2px;
    height: 3%;
    border-color: rgb(170, 170, 170);
}

.grp-title{
    display:flex;
    flex-direction: row;
    height: 100%;
}

.items-content{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    justify-content: start;
    border-style: solid none none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.item-grp{
    display: flex;
    height: 5%;
    flex-direction: row;
}

.item-grp-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grp-title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight{
    background-color: rgb(239, 239, 239);
}

.your-details {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-style: none none solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.group-details-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border-style: none none solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.group-details-info .user-content-details{
    display: flex;
    flex-direction: row;
}

.group-details-info .group-content-details{
    display: flex;
    flex-direction: row;
}

.group-details-info .equipment-content-details{
    display: flex;
    flex-direction: row;
}

.group-details-info .equipment-content-details .serial_brand_md5{
    flex-direction: column;
    font-size: 0.8rem;
}

.group-detail-information{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;   
}

.group-details-controls{
    display: flex;
    width: 40%;
    flex-direction: column;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.group-server-response{
    display: flex;
    width: 60%;
    flex-direction: column;
}


