.equipment-search *{
    display: flex;
}

.equipment-search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.search-area{
    flex-direction: column;
    justify-content: start;
    width: 70%;

}

.search-parameters{
    height: 60%;
    flex-direction: column;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.search-parameters *{
    width: 100%;
}

.parameter-tabbar{
    background-color: rgb(239, 239, 239);
    justify-content: start;
    flex-direction: row;
    height: 6%;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.parameter-tabbar *{
    width: fit-content;
    flex-direction: column;
    justify-content: center;
}

.param-tabbar-title{
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-style: none solid none none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
    user-select: none;
}

.param-tabbar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    user-select: none;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: white;
}


.param-tabbar-item:hover{
    background-color: rgb(215, 215, 215);
    border-style: none solid none solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
}

.tabbar-options{
    height: 88%;
    flex-direction: column;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.tabbar-actions{
    height: 6%;
    flex-direction: row;
    justify-content: center;
    width:40%;
}

.search-details{
    flex-direction: column;
    justify-content: start;
    width: 30%;
    border-style: none none none solid;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.hidden{
    display: none;
}

.tabbar-options{
    flex-direction: row;
}

.selected-items{
    flex-direction: column;
    width: 35.8%;
    border-style: none solid none none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.sch-details-groups{
    flex-direction: column;
    border-style: none solid none none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.groups-controls{
    height: 10%;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.sch-details-users{
    flex-direction: column;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.users-controls{
    height: 10%;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}


.add-details-users{
    flex-direction: column;
}

#selected-search-tab{
    background-color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}

.search-query{
    flex-direction:column;
    width: 33%;
    border-style: none solid none none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.search-query *{
    flex-direction:column;
}

.sch-user-items{
    flex-direction: column;
    height: 100%;
}

.sch-users-controls{
    height: 5%;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.control-current-page-title-user{
    width: 20%;
    height: 100;
}

.page-controls-user{
    width: 80%;
    height 100%;
    justify-content: center;
    flex-direction: row;
}

.item-usr-div{
    text-wrap: wrap !important; 
}


.sch-groups-items{
    flex-direction: column;
    height: 100%;
}

.sch-groups-controls{
    height: 5%;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
}

.control-current-page-title-group{
    width: 20%;
    height: 100;
}

.page-controls-user{
    width: 80%;
    height 100%;
    justify-content: center;
    flex-direction: row;
}

.item-usr-div{
    text-wrap: wrap !important; 
}

.query-title{
    height: 5%;
    border-style: none none solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.sch-eq-selected-type{
    width: 30%;
    flex-direction: row;
    height: 100%;
}

.selected-equipment-dropdown{
    flex-direction: column;
    height:100%;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.equipment-type-dropdown-title{
    height: 5%;
    border-style: none none solid none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.loaded-equipment-types{
    height: 95%;
    flex-direction: column;
}

.loaded-equipment-types *{
    height: 7%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.search-query-inputs{
    flex-direction: column;
}

.search-query-inputs *{
    width: 95%;
}

.loading-search-controls{
    flex-direction: column;
}

.loaded-search-queries{
    height: 90%;
    flex-direction: row;
    justify-content: center;
}

.add-search-query-tab{
    height: 10%;
    display: none;
}
 
.title-input-search-tab{
    width: 37%;
}

.search-details-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-details-info .user-content-details{
    display: flex;
    flex-direction: row;
}

.search-details-info .group-content-details{
    display: flex;
    flex-direction: row;
}

.search-details-info .equipment-content-details{
    display: flex;
    flex-direction: row;
}

.search-details-info .equipment-content-details .serial_brand_md5{
    flex-direction: column;
    font-size: 0.8rem;
}

.search-detail-information{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;   
}

.search-details-controls{
    display: flex;
    width: 40%;
    flex-direction: column;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.search-server-response{
    display: flex;
    width: 60%;
    flex-direction: column;
}

.search-results{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results-controls{
    height: 15%;
    flex-direction: row;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
    border-style: none none solid none;
}

.results-items{
    flex-direction: column;
    height: 85%;
}

.searched-equipment-content{
    flex-direction: column;
}

.search-page-controls{
    width: 85%;
}

.control-current-search-page {
    flex-direction: column;
    justify-content: center;
}

.page-controls-search{
    justify-content: center;
    width: 80%;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
    border-style: none solid none none;
}

.page-controls-search *{
    width: 5%;
    flex-direction: column;
    justify-content: center;
}

.control-current-page-title-search{
    width: 20%;
    justify-content: center;
    border-width: 2px;
    border-color: rgb(170, 170, 170);
    border-style: none solid none none;
}

.search-items-total{
    width: 15%;
    flex-direction: row;
    justify-content: center;
}

.total-search-div-content{
    flex-direction: column;
    justify-content: center;
}

.search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor:pointer;
    user-select: none;
    width: 100%;
    background-color: rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align:center;
}

.search-button:hover{
    background-color: rgb(23, 212, 89);
    color: white;
}

.title-search-button-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.clear-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor:pointer;
    user-select: none;
    width: 100%;
    background-color: rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align:center;
}

.clear-button:hover{
    background-color: rgb(76, 144, 252);
    color: white;
}

.title-clear-button-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

