.main-content{
background-color: white;
}
.equipment-content{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-style: none none none solid;
    border-color: rgb(170, 170, 170);
    border-width: 2px;

}


.total-group-div-content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.control-current-page-title-group{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    justify-content: center;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.page-controls-group{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-controls-group-content{
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.current-group-page{
    text-decoration: underline;
}

.control-group-arrow{
    width: 6%;
    height: 100%;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.control-current-group-page{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.total-user-div-content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.control-current-page-title-user{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    justify-content: center;
    border-style: none solid none none;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
}

.page-controls-user{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-controls-user-content{
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.current-user-page{
    text-decoration: underline;
}

.control-user-arrow{
    width: 6%;
    height: 100%;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.control-current-user-page{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
}



