.main-content{
background-color: white;
}
.equipment-content{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

