.main-content{
background-color: white;
}
.equipment-content{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-style: none none none solid;
    border-color: rgb(170, 170, 170);
    border-width: 2px;

}

